{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg'%});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Recipes</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'core:home' %}">Home <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>Recipes <i
                        class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    {% for recipe in recipes %}
                    <div class="col-md-6 col-lg-12 ftco-animate">
                        <div class="blog-entry d-lg-flex">
                            <div class="half">
                                <a href="{% url 'core:recipe_detail' recipe.id%}" class="img d-flex align-items-end"
                                   style="background-image: url({{recipe.image.url}});">
                                    <div class="overlay"></div>
                                </a>
                            </div>
                            <div class="text px-md-4 px-lg-5 half pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{ recipe.category }}</span><span class="ml-auto pl-3">{{recipe.date | date:"M d, Y"}}</span>
                                </p>
                                <h3><a href="{% url 'core:recipe_detail' recipe.id%}">{{recipe.title}}</a></h3>
                                <p>{{recipe.description}}
                                </p>
                                <p class="mb-0"><a href="{% url 'core:recipe_detail' recipe.id%}" class="btn btn-primary">Read More <span
                                        class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul class="pagination">
                                <li class="page-item">
                                  {% if page_obj.has_previous %}
                                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <img src="{% static 'img/pag1.svg' %}" alt="" style="margin-top: -6px;">
                                  </a>
                                  {% endif %}
                                </li>
                                <h1 class="d-none" id="num_pages">{{ page_obj.paginator.num_pages }}</h1>
                                <li class="page-item"><a class="page-link num" href="?page={{ page_obj.number }}" style="font-size: 20px; color: #4F4F4F;">{{ page_obj.number }}</a></li>
                                {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link num" id="from-pagination" href="?page={{ page_obj.next_page_number }}" style="font-size: 20px; color: #4F4F4F;">{{ page_obj.next_page_number }}</a></li>
                                <li class="page-item"><a class="page-link num" id="last-pagination" href="" style="font-size: 20px; color: #4F4F4F;">3</a></li>
                                <li class="page-item">
                                  {% endif %}
                                  {% if page_obj.has_next %}
                                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <img src="{% static 'img/pag2.svg' %}" alt="" style="margin-top: -6px;">
                                  </a>
                                  {% endif %}
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="sidebar-wrap">
                    {% include 'includes/me.html' %}
                    <div class="sidebar-box p-4 ftco-animate">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input name="search" type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    {% include 'includes/categories.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/subscribe.html' %}
{% endblock %}